streamlit
pandas
numpy
scikit-learn
joblib
plotly
python-dotenv
xgboost
requests

# RAG AI Consultant
langchain
langchain-groq
langchain-community
langchain-classic
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
